#main{
    margin: auto;
    width: 60%;
    padding: 20px;
    background: white;
    height: auto;
}
.Text_de_titlu{
    font-size: 1.5vw;
}
#Titlu_AT{
    height: 100px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
#ceramica_img_1{
    width: 20%;
    horiz-align: left;
    float: left;
    padding-right: 20px;
}
#ceramica_img_2{
    width: 20%;
    horiz-align: right;
    float: right;
    padding-left: 20px;
}
#Manastirea_Hurezi{
    padding-top: 20px;
}
.butoane{
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: none;
    border-top: none;
    text-align: center;
    font-family: Shell Roundhand, cursive;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    color: white;
    font-size: 20px;
    background-image: url("https://i.imgur.com/pUzLV6d.gif");
}

#Header{
    background-color: transparent;
}

.butoane:hover{
    background: peru;
    color: white;
    border: 2px solid peru;
}
body{
    background-image: url("https://i.imgur.com/pUzLV6d.gif");
}
.butoanev2 {
    cursor: pointer;
    float: left;
    text-align: center;
    font-family: Shell Roundhand, cursive;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background: peru;
    color: white;
    border: 2px solid peru;
    transition-duration: 0.4s;
}

.butoanev2:hover {
    background: white;
    color: peru;
}

#div_spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid seagreen;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}